body,
input {
  font-size: 24px;
  font-family: "Roboto Mono", monospace;
}
#aufgaben {
  padding: 2em 0;
  display: grid;
  grid-template-columns: minmax(5em, auto) minmax(5em, 1fr);
  row-gap: 24px;
  margin-bottom: 48px;
}
#uhr {
  position: fixed;
  bottom: 8px;
  right: 8px;
  padding: 2px 12px;
  border: 2px solid black;
  border-radius: 8px;
  background: lightgoldenrodyellow;
  font-size: 36px;
}

.aufgabenstellung {
  margin-right: 0.6em;
  text-align: right;
  line-height: 50px;
}
.loesung {
  padding: 8px;
  min-width: 5em;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
.loesung.richtig {
  box-shadow: 1px 1px 8px rgb(82, 150, 82);
  border: 1px solid rgb(29, 126, 29);
  background: rgba(82, 150, 82, 0.1);
}
.loesung.falsch {
  box-shadow: 1px 1px 8px rgb(206, 88, 88);
  border: 1px solid rgb(177, 34, 34);
  background: rgba(206, 88, 88, 0.1);
}
